/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #f3f3f3;
  background-color: #1a202c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
} */

